//-------------------------------------------------------
// Configurações de font-size e font-weight
//-------------------------------------------------------
$fs-56: 56px
$fs-46: 46px
$fs-36: 36px
$fs-32: 32px
$fs-24: 24px
$fs-21: 21px
$fs-18: 18px
$fs-16: 16px
$fs-14: 14px
$fs-12: 12px
    
$bold: 900
$semi-bold: 700
$regular: 500
$semi-thin: 400
$thin: 300


//-------------------------------------------------------
// Paleta de cores
//-------------------------------------------------------
$main-color: #062573
$secondary-color: #031552
// $accent-color: #15348C
$accent-color: #3C19A6

// Cinzas e derivados
$grayLight: #F9FBFF
$graySecondary: #F2F2F2
$grayDark: #BDBDBD
$white: #FFFFFF

// Textos
$text-light: #757575
// $text-dark: #262626
$text-dark: #2e3a59

// Semantic colors - Based on main color
$sucess-color: #45B441
$information-color: #4776CD
$warning-color: #CF8B33
$danger-color: #C3544A