$extra-title: 5.6em
$big-title: 3.6em
$medium-title: 2.4em
$small-title: 2.1em
$extra-small-title: 1.6em

// 56px. bold, poppins
// 36px, bold, poppins
// 24px, bold, poppins
// 21px, bold, poppins
// 16px, bold, poppins

// Font size subtitulos
// 24px, regular, hind

// Font size textos, inputs e outros
// 21px, regular, hind
// 18px. regular-bold, hind
// 14px, regular, hind