@import 'style-guide.sass'
@import 'media-queries.sass'

html
    scroll-behavior: smooth
    // font-family: 'Montserrat', sans-serif
    font-size: 62.5%

// Fonte sizes Classes
h1, h2, h3, h4, h5, h6, figcaption
    font-family: 'Poppins'
p, ul, ol, li, span, input, label, textarea, button
    font-family: 'Hind'

// Seções
.sct
    &__homepage
        @include respond-above('md')
            height: calc(100vh - 90px)