@import 'style-guide.sass'
@import 'media-queries.sass'

html
    scroll-behavior: smooth
    font-size: 62.5%
    overflow-x: hidden

// Fonte sizes Classes
h1, h2, h3, h4, h5, h6, figcaption
    font-family: 'Poppins'
p, ul, ol, li, span, input, label, textarea, button, a
    font-family: 'Hind'

a, a:hover
    text-decoration: none