html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6, figcaption {
  font-family: 'Poppins'; }

p, ul, ol, li, span, input, label, textarea, button, a {
  font-family: 'Hind'; }

a, a:hover {
  text-decoration: none; }

@media (max-width: 767px) {
  .sct__homepage {
    height: calc(100vh - 120px);
    margin: 0; } }

@media (min-width: 992px) {
  .sct__homepage {
    height: calc(100vh - 160px); } }

@media (min-width: 992px) {
  .sct__homepage .slick-prev {
    left: 0;
    z-index: 99; } }

@media (min-width: 992px) {
  .sct__homepage .slick-next {
    right: 0;
    z-index: 99; } }

.sct__benefits {
  background-image: url("../../images/bg-secao-beneficios.svg"); }
  @media (max-width: 767px) {
    .sct__benefits {
      padding-top: 120px;
      padding-bottom: 120px;
      margin: 25px auto;
      position: relative;
      background-size: auto 100%;
      background-repeat: no-repeat; } }
  @media (min-width: 992px) {
    .sct__benefits {
      min-height: calc(100vh - 100px);
      padding: 0;
      padding-top: 100px;
      padding-bottom: 100px;
      margin: 50px 0;
      background-size: auto 100%;
      background-position: center;
      background-repeat: repeat; } }

.sct__plans {
  background-image: url("../../images/bg-secao-planos.svg"); }
  @media (max-width: 767px) {
    .sct__plans {
      background-size: auto 80%;
      background-position: top 240px left;
      background-repeat: no-repeat;
      padding-top: 100px;
      padding-bottom: 100px;
      margin: 25px auto; } }
  @media (min-width: 992px) {
    .sct__plans {
      min-height: calc(100vh - 100px);
      padding: 0;
      padding-top: 100px;
      padding-bottom: 100px;
      margin: 50px 0;
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: top 140px right -1310px; } }
  @media (max-width: 767px) {
    .sct__plans .sct__contentWrapper {
      padding: 0 20px;
      min-height: 520px;
      display: flex;
      flex-wrap: wrap;
      align-items: center; } }
  @media (max-width: 767px) {
    .sct__plans .slick-list {
      padding: 20px 0; } }

.sct__contact {
  background-image: url("../../images/bg-secao-contato.svg");
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px; }
  @media (max-width: 767px) {
    .sct__contact {
      background-size: auto 75%;
      background-position: top 150px left -320px;
      margin: 25px auto; } }
  @media (min-width: 992px) {
    .sct__contact {
      min-height: calc(100vh - 100px);
      padding: 0;
      margin: 50px 0;
      background-size: auto 100%;
      background-position: top 30px left -470px; } }

@media (max-width: 767px) {
  .sct__contentWrapper {
    margin: 50px auto; } }

@media (min-width: 992px) {
  .sct__contentWrapper {
    margin: 80px auto;
    justify-content: center;
    position: relative; } }

.sct__contentWrapper--noMargin {
  margin: 0 auto; }

.sctHeader {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  text-align: center; }
  @media (max-width: 767px) {
    .sctHeader {
      width: 90%; } }
  @media (min-width: 992px) {
    .sctHeader {
      max-width: 960px;
      min-height: 120px; } }
  .sctHeader__title, .sctHeader__subtitle {
    font-weight: 900;
    color: #757575;
    line-height: 1.8; }
    @media (max-width: 767px) {
      .sctHeader__title, .sctHeader__subtitle {
        font-size: 2.1em;
        margin: 0 auto;
        margin-bottom: 10px; } }
    @media (min-width: 992px) {
      .sctHeader__title, .sctHeader__subtitle {
        font-size: 3.2em;
        margin: 0 auto;
        margin-top: 15px; } }
  .sctHeader__subtitle {
    font-size: 1.8em;
    font-weight: 300; }
    @media (max-width: 767px) {
      .sctHeader__subtitle {
        font-size: 1.6em; } }
